/*Cards */

.card-container {
	background: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
	margin: 15px 0 15px 0;
}
.main-container {
	padding: 17px ;
}
.card {
	border-radius: 10px;
	border: 1px solid #eceef3;
	background: white;
	width: 270px;
	height: 400px;
	margin: 10px;
}
.card:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	transform: scale(1.03);
	transition: all 1 ease;
}
.card h1 {
	margin: 10px 15px;
	font-weight: 500;
}
input[type=number] {
  width: 100%;
  padding: 15px 20px;
  margin: 0 0 8px 0;
  border: none;
  border-bottom: 2px solid #eceef3;
}

/* Card Button */

.result-container {
	display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.result {
	margin: 10px;
}
input[type="submit"] {
	border-radius: 10px;
	padding: 10px 15px;
	border: 1px solid #eceef3;
	background: white;
}
input[type="submit"]:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;
	transform: scale(1.03);
	transition: all 1 ease;
}